.comment {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	font-size: 1rem;
}

.comment-content {
	width: 70%;
	min-height: 7vh;
	background-color: #eee;
	padding: 1rem;
	font-weight: 400;
	border-radius: 8px;
	word-wrap: break-word;
}

.comment p {
	padding: 0.4rem 0;
}

.comment-profile {
	display: flex;
	align-items: center;
	height: 2.2rem;
	background: #f39c12;
	color: #fff;
	font-size: 1.6rem;
	font-weight: 300;
	border-radius: 50%;
	padding: 8px 10px;
	margin-right: 1rem;
}

.when-posted {
	margin-bottom: 10px;
	float: right;
}
