.task-container {
  text-align: left;
  font-weight: normal;
  font-size: 1rem;
}

.task-list-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
  line-height: 1.3;
  height: 38px;
  padding: 5px 2rem;
  border-radius: 3px;
  clear: both;
}

.list-label {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0;
}

.show-tasks-arrow {
  transform: rotate(180deg);
  cursor: pointer;
  width: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 8px;
}

.arrow-close {
  transform: rotate(-90deg);
}

.add-task {
  float: left;
  font-size: 0.8rem;
  margin: 0.6rem auto 0.4rem 3rem;
}

.no-tasks {
  margin-top: 6px;
  margin-left: 72px;
  cursor: pointer;
  background-color: #fff;
  font-size: 0.9rem;
  color: #aaa;
  padding: 10px 0;
}

.add-task-container {
  margin-bottom: 5px;
  margin-left: 3rem;
  margin-right: 2rem;
  border-bottom: 1px dotted #888;
}

.add-task-input {
  max-width: 996px;
  position: relative;
  vertical-align: top;
  background-color: transparent;
  width: 300px;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-top: 6px;
  height: 34px;
  font-size: 15px;
  outline: none;
}

.add-task-input:focus {
  border: none !important;
}

.add-task-plus {
  position: relative;
  top: 17px;
  left: 4px;
  width: 0.95rem;
  opacity: 0.6;
  padding-right: 10px;
  cursor: pointer;
}

.add-task-plus:hover {
  opacity: 0.8;
}

.divider {
  display: inline-block;
  margin: 0 -5px 0 10px;
  color: #999;
}

.cancel {
  padding: 0;
  margin: 5px 10px;
  color: #3d8aed;
  background-color: transparent;
  cursor: pointer;
}

.add-task-container ~ .btn {
  margin-left: 3rem;
  font-size: 0.8rem;
}

.add-task-container ~ .cancel {
  font-size: 0.9rem;
}

.description-area {
  display: block;
  max-width: 78%;
  max-height: 140px;
  margin-left: 3rem;
  margin-bottom: 1rem;
  resize: vertical;
  min-height: 3rem;
  padding: 10px;
  box-sizing: border-box;
}

.task-container label {
  display: block;
  font-size: 13px;
  margin: 10px 0 8px 3rem;
}

.task-description {
  background-color: #eeeeee;
  padding: 20px;
  margin: 0 2rem 10px 3rem;
}

.taskList-tooltip {
  width: 20px;
  padding: 0 0.6rem;
  position: relative;
  display: inline-block;
}

.taskList-tooltip:hover .taskList-content {
  visibility: visible;
  opacity: 1;
}

.dots {
  padding: 0;
  opacity: 0.6;
  display: flex;
  cursor: pointer;
}

.dots:hover {
  opacity: 0.8;
  transition: 0.1s;
  transform: scale(1.1) !important;
}

.taskList-tooltip .taskList-content {
  visibility: hidden;
  width: 100px;
  height: 120px;
  background-color: #fff;
  color: #737373;
  text-align: center;
  border-radius: 8px;
  position: absolute;
  z-index: 1;
  bottom: -100%;
  left: 100%;
  opacity: 0;
  transition: opacity 0.4s;
  border: 1px solid #eee;
  -webkit-box-shadow: -4px 6px 25px -10px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: -4px 6px 25px -10px rgba(0, 0, 0, 0.66);
  box-shadow: -4px 6px 25px -10px rgba(0, 0, 0, 0.66);
}

.taskList-tooltip ul li {
  list-style: none;
  font-size: 0.7rem;
  cursor: pointer;
  padding: 4px 2px;
}

.taskList-tooltip ul li:hover {
  background-color: #73737373;
}

.task-count {
  opacity: 0;
  background-color: rgba(0, 51, 80, 0.66);
  color: #eee;
  font-size: 0.8rem;
  padding: 2px 12px;
  border-radius: 14px;
}

.task-list-row:hover .task-count {
  opacity: 0.8;
  transition: 0.1s;
}

.list-description {
  display: inline-block;
  font-size: 0.9rem;
  line-height: 1.7;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: #888888;
  margin-left: 2rem;
}

.edit-input {
  height: 1.4rem;
  padding: 2px 4px;
}
