.modalContainer {
	display: flex;
	z-index: 9999;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	border-radius: 4px;
}

.bg {
	z-index: 9998;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	cursor: pointer;
}

.modalForm {
	display: flex;
	flex-direction: column;
	width: 24rem;
	margin: 2rem;
}
.modalInputContainer {
	display: flex;
	flex-direction: column;
}
.modalForm input {
	border: 1px solid #dad0d0;
	border-radius: 4px;
	background: #fff;
	line-height: 1.6rem;
	margin: 1rem 0;
	padding: 0.5rem 1.5rem;
	font-size: 1.1rem;
	color: #4d3c59;
	font-weight: 400;
}

.modalForm select {
	border: 1px solid #dad0d0;
	border-radius: 4px;
	background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat 95% #fff;
	-webkit-appearance: none;
	line-height: 1.6rem;
	margin: 0.2rem 0 1rem 0;
	padding: 0.5rem 1.5rem;
	color: #4d3c59;
	font-size: 1.1rem;
	-ms-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	font-weight: 400;
	cursor: pointer;
}

.modalForm select option {
	font-weight: 400;
	color: #4d3c59;
}

.modalForm label {
	font-size: 1rem;
	color: #00000091;
	padding-bottom: 0.4rem;
}
.modalBtns {
	justify-content: space-between;
	display: flex;
	padding: 1.5rem 0;
}

.cancelModalButton,
.inviteModalButton {
	width: 6rem;
	border: 1px solid #ebe3d8;
	border-radius: 4px;
	color: #fff;
	padding: 0.4rem 1.2rem 0.7rem;
	font-weight: 500;
	cursor: pointer;
	font-size: 1.1rem;
}

.cancelModalButton {
	background: #e85a5a;
}

.inviteModalButton {
	background: #6a84ed;
}

.modalForm h3 {
	padding: 0.5rem 0;
}

@media screen and (max-width: 992px) {
	.modalForm {
		width: 21rem;
		margin: 1.7rem;
	}

	.modalForm input {
		margin: 0.8rem 0;
		padding: 0.4rem 1.2rem;
		font-size: 1rem;
	}

	.modalForm select {
		margin: 0.2rem 0 0.8rem 0;
		padding: 0.4rem 1.2rem;
		font-size: 1rem;
	}

	.modalForm label {
		font-size: 0.8rem;
		padding-bottom: 0.3rem;
	}

	.modalBtns {
		padding: 1.2rem 0;
	}

	.cancelModalButton,
	.inviteModalButton {
		width: 5.5rem;
		padding: 0.3rem 1rem 0.5rem;
		font-size: 1rem;
	}

	.modalForm h3 {
		padding: 0.4rem 0;
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 768px) {
	.modalForm {
		width: 18rem;
		margin: 1.5rem;
	}

	.modalForm input {
		margin: 0.6rem 0;
		padding: 0.3rem 0.9rem;
		font-size: 0.8rem;
	}

	.modalForm select {
		margin: 0.1rem 0 0.6rem 0;
		padding: 0.3rem 0.9rem;
		font-size: 0.8rem;
		background: #fff;
		-webkit-appearance: auto;
		height: 1.6rem;
	}

	.modalForm label {
		font-size: 0.6rem;
		padding-bottom: 0.2rem;
	}

	.modalBtns {
		padding: 0.9rem 0;
	}

	.cancelModalButton,
	.inviteModalButton {
		width: 5rem;
		font-size: 0.8rem;
	}

	.modalForm h3 {
		padding: 0.4rem 0;
		font-size: 0.9rem;
	}
}

@media screen and (max-width: 576px) {
	.modalForm {
		width: 15rem;
		margin: 1.2rem;
	}

	.modalForm input {
		margin: 0.5rem 0;
		padding: 0.2rem 0.7rem;
		font-size: 0.7rem;
		height: 1.4rem;
	}

	.modalForm select {
		margin: 0.1rem 0 0.5rem 0;
		padding: 0.2rem 0.7rem;
		font-size: 0.7rem;
		height: 1.4rem;
	}

	.modalForm label {
		font-size: 0.5rem;
		padding-bottom: 0.1rem;
	}

	.modalBtns {
		padding: 0.7rem 0;
	}

	.cancelModalButton,
	.inviteModalButton {
		width: 4.5rem;
		font-size: 0.7rem;
	}

	.modalForm h3 {
		padding: 0.3rem 0;
		font-size: 0.8rem;
	}
}
@media screen and (max-width: 480px) {
	.modalForm {
		width: 12rem;
		margin: 1rem;
	}

	.modalForm input {
		margin: 0.4rem 0;
		padding: 0.1rem 0.6rem;
		font-size: 0.6rem;
		height: 1.2rem;
	}

	.modalForm select {
		margin: 0.1rem 0 0.4rem 0;
		padding: 0.1rem 0.6rem;
		font-size: 0.6rem;
		height: 1.2rem;
	}

	.modalForm label {
		font-size: 0.4rem;
	}

	.modalBtns {
		padding: 0.6rem 0;
	}

	.cancelModalButton,
	.inviteModalButton {
		width: 4rem;
		font-size: 0.6rem;
	}

	.modalForm h3 {
		padding: 0.2rem 0;
		font-size: 0.7rem;
	}
}

@media screen and (max-width: 320px) {
	.modalForm {
		width: 9rem;
		margin: 0.9rem;
	}

	.modalForm input {
		margin: 0.3rem 0;
		padding: 0.1rem 0.5rem;
		font-size: 0.5rem;
		height: 1rem;
	}

	.modalForm select {
		margin: 0.1rem 0 0.3rem 0;
		padding: 0.1rem 0.5rem;
		font-size: 0.5rem;
		height: 1rem;
	}

	.modalForm label {
		font-size: 0.35rem;
	}

	.modalBtns {
		padding: 0.5rem 0;
	}

	.cancelModalButton,
	.inviteModalButton {
		width: 3rem;
		font-size: 0.5rem;
		padding: 0.2rem 0 0.3rem;
	}

	.modalForm h3 {
		padding: 0.15rem 0;
		font-size: 0.6rem;
	}
}
