.agendaContainer {
  border-left: 1px solid #eeeeee;
  padding-left: 30px;
  margin-left: 20%;
}
.agendaTitleWrap {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
.agendaTitleWrap p {
  margin-right: 10px;
}
.agendaInfo {
  font-size: 13px;
  font-weight: normal;
  color: darkgrey;
  padding-bottom: 15px;
  padding-top: 12px;
}
.agendaWrap {
  display: flex;
  border-bottom: 1px solid #eeeeee;
  padding-top: 40px;
}
.agendaWrap div {
  margin-left: 15px;
}
.agendaDetailsContainer {
  margin-left: 20%;
}
.notebook {
  width: 32px;
  height: 41px;
}
.notebookDetails {
  width: 50px;
  height: 63px;
}
.agendaCreateContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}
.agendaCreateContainer input {
  border: none;
  border-bottom: 1px solid darkgray;
}
.descriptionTextArea {
  border: none;
}
.contentTextArea {
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  width: 70%;
  height: 300px;
  padding-left: 10px;
  color: black;
  margin-top: 20px;
  /* margin-left: 22%; */
}
.createContentTextArea {
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  width: 70%;
  height: 300px;
  padding-left: 10px;
  color: black;
  margin-top: 20px;
}
.editContentWrap {
  margin-left: 20%;
}
.createAgendaButton {
  width: 135px;
  background-color: #59c894;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}
.textAreaButtonsWrap {
  /* margin-left: 22%; */
}
.agendaHeader {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.agendaHeaderButton {
  width: 137px;
  height: 32px;
  background-color: #59c894;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
.agendaHeaderButton:hover {
  background-color: #469e75;
}
.buttonsAgendaInfoWrap {
  margin-top: 15px;
}
.tagIconAgendaWrap {
  opacity: 40%;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  margin-right: 10px;
}
.tagIconAgendaWrap:hover {
  opacity: 70%;
}
.editAgendaButton {
  width: 115px;
  height: 32px;
  float: right;
  margin-right: 180px;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  height: 32px;
  background-color: #59c894;
  color: white;
  cursor: pointer;
}
.publishAgendaButton {
  background-color: #59c894;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}
.publishAgendaButton:hover {
  background-color: #469e75;
}
.cancelButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #3d8aed;
  font-size: 13px;
  font-weight: 500;
}

.tagIcon {
  width: 17px;
  cursor: pointer;
  padding: 0px;
}

.agendaTitleWrap {
  display: flex;
}

.tagAgenda {
  font-size: 13px;
  font-weight: 300;
  padding: 2px 8px 4px 8px;
  background-color: rgb(47, 141, 228);
  border-radius: 10px;
  color: #fff;
  margin-right: 5px;
}
@media screen and (max-width: 992px) {
  .agendaCreateContainer {

    margin-left: 5%;
  }
}
@media screen and (max-width: 768px) {
  .agendaContainer {
    margin-left: 10%;
  }
  .createContentTextArea{
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .agendaContainer {
    margin-left: 0;
  }
  .agendaInfo {
    font-size: 10px;
  }
  .agendaTitleWrap {
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    color: black;
  }
  
}
