.mainHeader {
  background-color: #1d1c39;
  min-height: 3rem;
  display: flex;
}

.nav {
  display: flex;
  width: 100%;
  padding: 0.6rem 0;
  justify-content: space-between;
}

.mainHeadList {
  display: flex;
  align-items: center;
}

.mainHeadList ul {
  display: flex;
}
.mainHeadList li {
  list-style-type: none;
  color: #a7c8f3;
  padding: 0 0.5rem;
  font-size: 0.8rem;
}
.mainHeadList li:hover {
  color: #fff;
  cursor: pointer;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 0 1.4rem;
}

.logo span {
  font-family: fantasy;
  font-size: 1.2rem;
}

.logo span:first-child {
  margin-right: 1.35rem;
  color: #fff;
}

.logo span:last-child {
  color: #e85a5a;
  margin-top: -10px;
}

.mainHeadBtns {
  display: flex;
}

.mainHeadBtns button {
  font-size: 0.9rem;
  padding: 0 14px 10px;
  height: 2.2rem;
  line-height: 2rem;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  margin: 0 0.5rem;
  font-weight: 500;
}

.addTeamBtn {
  background-color: #59c894;
  border: 1px solid #59c894;
}
.addTeamBtn img {
  height: 22px;
  padding-right: 4px;
  vertical-align: middle;
}

.addTeamBtn:hover {
  background-color: #3bb37b;
}

.upgradeBtn {
  background-color: #6a84ed;
  border: 1px solid #6a84ed;
}

.upgradeBtn:hover {
  background-color: #5371ea;
}

.searchCircle,
.profileCircle {
  border-radius: 50%;
  margin-left: 1rem;
  text-align: center;
}

.searchCircle {
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
  background: #a4b0bf;
  line-height: 2.3rem;
  margin-top: 2px;
}
.searchCircle:hover {
  background: #fff;
  cursor: pointer;
}

.profileCircle {
  width: 2.2rem;
  height: 2.2rem;
  min-width: 2.2rem;
  min-height: 2.2rem;
  background: #e85a5a;
  vertical-align: middle;
  color: #fff;
  line-height: 2.05rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.vector {
  padding: 0 0.7rem;
  transform: rotate(270deg);
  width: 0.45rem;
}
.profileCircle:hover,
.vector:hover {
  cursor: pointer;
}
