.mainHeader {
	background-color: #1d1c39;
	display: flex;
	min-width: fit-content;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.nav {
	display: flex;
	width: 100%;
	padding: 0.7rem 0;
	justify-content: space-between;
}

.mainHeadList {
	display: flex;
	align-items: center;
}

.mainHeadList ul {
	display: flex;
}
.mainHeadList li {
	list-style-type: none;
	color: #a4b0bf;
	padding: 0 0.7rem;
	font-size: 1rem;
}
.mainHeadList li:hover {
	color: #fff;
	cursor: pointer;
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	margin: 0 0.8rem;
}

.logo img {
	height: 2.1rem;
}

.mainHeadBtns {
	display: flex;
	align-items: center;
	padding-right: 0.3rem;
}

.mainHeadBtns button {
	font-size: 0.8rem;
	height: 2rem;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	margin: 0 0.5rem;
	font-weight: 500;
	width: max-content;
}

.addTeamBtn {
	background-color: #59c894;
	border: 1px solid #59c894;
	padding: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.addTeamBtn img {
	height: 22px;
	padding-right: 4px;
	width: 3.8rem;
}

.addTeamBtn span {
	padding-bottom: 3px;
}

.addTeamBtn:hover {
	background-color: #3bb37b;
}

.upgradeBtn {
	background-color: #6a84ed;
	border: 1px solid #6a84ed;
	padding: 0 10px 3px 10px;
}

.upgradeBtn:hover {
	background-color: #5371ea;
}

.searchCircle,
.profileCircle {
	border-radius: 50%;
	margin-left: 1.4rem;
	text-align: center;
}

.searchCircle {
	width: 1.7rem;
	min-width: 1.7rem;
	height: 1.7rem;
	background: #a4b0bf;
	line-height: 1.7rem;
	margin-right: 1.4rem;
}

.searchCircle img {
	height: 0.8rem;
}

.profileCircle {
	width: 1.9rem;
	min-width: 1.9rem;
	height: 1.9rem;
	background: #f39c12;
	color: #fff;
	line-height: 1.75rem;
	font-size: 1.1rem;
	font-weight: 500;
}

.vector {
	padding: 0 0.5rem;
	transform: rotate(270deg);
	width: 0.45rem;
	height: 1rem;
}
.profileCircle:hover,
.vector:hover {
	cursor: pointer;
}

.folder {
	width: 17px;
	min-width: 17px;
	height: 11px;
	margin: 0.15rem 0.9rem 0 0.9rem;
	position: relative;
	background: #a4b0bf;
	border-radius: 0 1.5px 1.5px 1.5px;
}

.folder:before {
	content: '';
	width: 50%;
	height: 2.5px;
	background: #a4b0bf;
	position: absolute;
	top: -2.5px;
	left: 0px;
	border-radius: 1px 1px 0 0;
}

.mainHeadList li:hover {
	color: #fff;
	cursor: pointer;
}

.searchCircle:hover,
.folder:hover,
.folder:hover::before {
	background: #fff;
	cursor: pointer;
}
.bellContainer {
	margin: 0.2rem 0.5rem 0 0.5rem;
	cursor: pointer;
}

.plus {
	height: 18px;
	width: 18px;
	min-width: 18px;
	background: url('../../assets/Plus.svg') no-repeat center;
	margin: 0 0.5rem;
}

.plus:hover {
	background: url('../../assets/PlusWhite.svg') no-repeat center;
	cursor: pointer;
}

.plus:active {
	transform: rotate(90deg);
	transition: transform 210ms ease-in-out, -webkit-transform 210ms ease-in-out;
}
