.task-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 6px 0 4px 0;
	margin-left: 3rem;
	margin-right: 2rem;
	-webkit-box-flex: 1;
	box-sizing: border-box;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	align-items: center;
	border-bottom: 1px solid #f2f2f2;
}

.assigned-to {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #eee;
	width: 110px;
	font-size: 12px;
	height: 22px;
	color: #666;
	text-decoration: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 0 8px;
	margin: 0 8px 0 3px;
	overflow: hidden;
	border-radius: 4px;
	text-decoration: none;
	position: relative;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.assigned-to:hover {
	background: #e1e1e1;
	color: #222;
}

.assign-pencil {
	width: 10px !important;
	position: absolute;
	right: 6px;
	top: 6px;
}

.check {
	color: #bbb;
	font-size: 24px;
}

.task-completed-check {
	color: #35c48b;
}

.task-title {
	overflow: hidden;
	font-size: 1rem;
	width: 60px;
	height: 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	color: #333;
}

.task-title:hover {
	border-bottom: 1px solid #222;
}

.title-completed {
	text-decoration: line-through #999;
	color: #999;
}

.subtask {
	width: 16px;
	vertical-align: center;
}

.pd-left-10 {
	padding-left: 16px;
}

.clock {
}

.calendar {
}

.exclamation {
	cursor: pointer;
	font-size: 21px;
}

.important {
	color: #f44336;
}

.medium {
	color: #f57f17;
}

.low {
	color: #8bc34a;
}

.icon {
	width: 18px;
	opacity: 0.6;
	cursor: pointer;
}

.icon:hover {
	opacity: 0.8;
}

.progress {
	font-weight: 400;
	font-size: 1rem;
	position: relative;
}

.percentage {
	font-size: 20px;
	color: #666;
	font-weight: 300;
}

.progress-slider {
	visibility: hidden;
	width: 220px;
	height: 40px;
	background: #fff;
	text-align: center;
	border-radius: 6px;
	border: 1px solid #e9e7e7;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 72%;
	margin-left: -120px;
	-webkit-box-shadow: -2px 5px 26px -6px rgba(0, 0, 0, 0.62);
	-moz-box-shadow: -2px 5px 26px -6px rgba(0, 0, 0, 0.62);
	box-shadow: -2px 5px 26px -6px rgba(0, 0, 0, 0.62);
	opacity: 0;
	transition: opacity .4s;
}

.progress-slider::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #e9e7e7 transparent transparent transparent;
}

.progress:hover .progress-slider {
	visibility: visible;
	opacity: 1;
}

.bell {
	font-size: 22px;
}

.bell-active {
	color: #35c48b;
}

.eye {
	width: 17px;
}

.comments {
	width: 18px;
}

.tag {
	width: 17px;
}

.description-tooltip {
	position: relative;
	display: inline-block;
}

.description-tooltip:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

.description-tooltip .tooltip-text {
	font-size: 0.6rem;
	visibility: hidden;
	width: 80px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -35px;
	opacity: 0;
	transition: opacity .4s;
}

.description-tooltip .tooltip-text::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

@media only screen and (max-width: 600px) {
	.assigned-to {
		width: 60px;
	}

	.icon {
		width: 12px;
		font-size: 12px;
	}

	.task-title {
		font-size: 0.7rem;
		width: 50px;
		padding-top: 2px;
		height: 0.8rem;
	}

	.exclamation {
		font-size: 16px;
	}

	.bell {
		font-size: 17px;
	}

	.percentage {
		font-size: 1rem;
	}

	.pd-left-10 {
		padding-left: 4px;
	}
}
